{#
/**
 * Global & child errors macro
 * @file macro_form_error_messages.html.twig
 * @param FormView form
 * @example
 *      {% import '@Dashboard/element/macro_form_error_messages.html.twig' as errors %}
 *      {{errors.get_global(form)}}
 *      <hr/>
 *      {{errors.get_child(form)}}
 */
#}
{%- macro get_global(form) -%}
    {# throw global errors#}
    {%- if form.vars.errors|length -%}

        <ul class="list-unstyled">
            {%- for error in  form.vars.errors-%}
                <li># {{ error.message|raw }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endmacro -%}

{%- macro get_child(form) -%}
    {# throw child errors#}
    {%- for child in form.children -%}
        {%- if child.vars.errors is defined -%}
            {%- for error in child.vars.errors -%}
                {#intentamos traducir#}
                {%-set name = (child.vars.attr.field_id is defined)? get_field_definition_json_by_id(child.vars.attr.field_id, app.request.locale) : child.vars.label -%}
<ul class="list-unstyled pt-1">
    <li># {{ name|default(child.vars.name)|raw }}: {{ error.message|raw }} {#{child.vars.value}#}</li>
</ul>
            {%- endfor -%}
        {%- endif -%}
    {%- endfor -%}
{%- endmacro -%}


