{#
Specie parameter. Index
@controller SpecieController:indexAction
@route admin/person
@path admin_person_index
@var FormView form
#}
{% set page= initPage(
        'person',
        'index',
        'person.index.title'|trans({},'cavepages'),
        path('admin_person_index'))
        .set('heading', 'person.index.heading'|trans({},'cavepages'))
%}
    {% set md = {row_attr:{class:'col-md'}} %}
    {% set mdcheck = {row_attr:{class:'mt-checkbox col-md'}} %}
    {% set md6 = {row_attr:{class:'col-md-6'}} %}
{% extends '@admin/base.html.twig' %}

{% block subheading %}
    {% include '@admin/person/subheading_buttons.html.twig'%}
{% endblock %}
{% block content %}
    {{ form_start(form) }}
    <div class="row">
        {{ form_row(form.name, md6)}}
        {{ form_row(form.surname, md) }}
        {{ form_row(form.organisation,  dataSuggest('organisation')|merge(md))}}
    </div>

    <div class="row">
        {{ form_row(form.country, dataRepopulate('country', '#'~form.admin1.vars.id)|merge(md))}}
        {{ form_row(form.admin1, dataRepopulate('admin1', '#'~form.admin2.vars.id)|merge(md))}}
        {{ form_row(form.admin2, dataRepopulate('admin2', '#'~form.admin3.vars.id)|merge(md))}}
        {{ form_row(form.admin3, dataRepopulate('admin3')|merge(md))}}
    </div>
    <div class="row">
        <div class="form-group">
            {% include '@object/bttn/bttn_reset.html.twig'%}
            {% include '@object/bttn/bttn_search.html.twig' with {'id': 'js-search'}%}
        </div>
    </div>
    {{ form_end(form) }}
<hr/>

{# paginator#}
<div style="display: block;overflow-x: auto;white-space: nowrap;">
{% embed '@object/pager/paginator_table.html.twig' with{
    id: 'paginatorWrapper',
    action: path('admin_person_list_json'),
    source: '#'~form.vars.attr.id
} %}
    {% block head %}
        <th data-sort data-orderby="name">Name</th>
        <th>{{ 'government.level.country'|trans({}, 'cavemessages')}}</th>
        <th>{{ 'government.level.admin1'|trans({}, 'cavemessages')}}</th>
        <th>{{ 'government.level.admin2'|trans({}, 'cavemessages')}}</th>
        <th>{{ 'government.level.admin3'|trans({}, 'cavemessages')}}</th>
    {% endblock head %}
    {% block script %}
        {% verbatim %}
    <td><a href="{{this.links.self}}">{{this.attributes.surname}}, {{this.attributes.name}}</a></td>
    <td>{{this.attributes.country}}</td>
    <td>{{this.attributes.admin1}}</td>
    <td>{{this.attributes.admin2}}</td>
    <td>{{this.attributes.admin3}}</td>
{% endverbatim %}
    {% endblock script%}
{% endembed %}
</div>
    {# /paginator#}
{% endblock %}
{% block footer_javascripts %}
    <script>
        (new Repopulate('#{{ form.country.vars.id }}')).populate();
        JSuggest(document.querySelector('.js-organisation'));
        Pagination('#paginatorWrapper', {sort:'ASC',orderby: 'name'}).submit();
    </script>
{% endblock %}
