{#
citation. Index
@controller CitationController:indexAction
@route /citation
@path admin_citation_index
@var FormView form
#}
{% set page= initPage(
    'citation',
    'index',
    'citation.index.title'|trans({},'cavepages'),
    path('admin_citation_index'))
    .set('heading', 'citation.index.heading'|trans({},'cavepages'))
%}
{% set md = {row_attr:{class:'col-md'}} %}
{% set mdcheck = {row_attr:{class:'mt-checkbox col-md'}} %}
{% set md6 = {row_attr:{class:'col-md-6'}} %}

{% extends '@admin/base.html.twig' %}
{% block subheading %}
    {% include '@admin/citation/subheading_buttons.html.twig'%}
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <div class="row">
        {{ form_row(form.title, md6)}}
        {{ form_row(form.subtitle, md6)}}
    </div>
    <div class="row">
        <div class="row">
            {{ form_row(form.type, md)}}
            {{ form_row(form.contributor, md)}}
            <div class="col-md mt-auto">
            <div class="form-group">
                {% include '@object/bttn/bttn_reset.html.twig'%}
                {% include '@object/bttn/bttn_search.html.twig' with {'id': 'js-search'}%}
            </div>
            </div>
        </div>
    </div>
    {{ form_rest(form, md6) }}

    <div class="row">
    </div>
    {{ form_end(form) }}
    <hr/>

{# paginator#}
<div style="display: block;overflow-x: auto;white-space: nowrap;">
{% embed '@object/pager/paginator_table.html.twig' with{
    id: 'paginatorWrapper',
    action: path('admin_citation_list_json'),
    source: '#'~form.vars.attr.id
} %}
{% block head %}
    <th data-sort data-orderby="type">Type</th>
    <th data-sort data-orderby="title" class="cursor-pointer" >Title</th>
{% endblock head %}
{% block script %}
{% verbatim %}
    <td>{{this.attributes.cType}}</td>
    <td style="text-overflow: ellipsis;">
    <a href="{{this.links.self}}">{{textContent (run this 'getListItem' 6)}}</a>
    <i class="fa fa-info-circle" title="{{textContent (run this 'getReference' 6)}}"></i>
    </td>

{% endverbatim %}
{% endblock script%}
{% endembed %}
</div>
{# /paginator#}
{% endblock %}

{% block footer_javascripts %}

    <script>
        new Citation();
        <!-- Paginación mediante handlebars, requiere helper y JSpager-->
        Pagination('#paginatorWrapper', {sort:'ASC',orderby: 'name'}).submit();
    </script>
{% endblock %}
